@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #030303;
    background-image: url(./ASSETS/BACKGROUND.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -80px ;
    color: #FFFFFF;
}



#home{
    display: flex;
    padding: 0px 10%;
    padding-bottom: 60px;
}


.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #030303;
    color: #FFFFFF;
    text-align: center;
    line-height: 90vh;
    z-index: 10000000;

    img{
        position: relative;
        align-items: center;
        top: 15%;
    }
}


.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #030303;
    color: #FFFFFF;
    text-align: center;
    line-height: 90vh;
    z-index: -10;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
    
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}


nav{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    img{
         width: 100%;
    }
}


nav ul{
    margin-bottom: 40px;
    margin-right: 90px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
}

nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #02BC9B;
  transform-origin: center ;
  transition: transform 0.2s ease-in-out;
}

nav ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: center ;
}

.Home-Container{
    margin: 50px 30px;
    position: relative;
    display: flex;
    justify-content: center;
}

.Main-info{
    margin-left: 20px;
}

h3{
    font-weight: regular;
    font-size: 1.1em;
}

h2{
    font-size: 1.9em;
    width: 95%;
}

.Name-is{
    
    width: 120%;

    span{
        color: #02BC9B;
    }
}

.Download-CV{
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    background-color: #02BC9B;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition-duration: 0.6s;
    border-color: transparent;
}

.Download-CV:hover{
    background-color: transparent;
    border-color: #02BC9B;
}

.ICONS{
    margin-top: 90px;
    display: flex;
}

.ICONS a{
    padding: 0px 4%;
    
}


.ICONS img{
    width: 100%;
    transition: .3s linear;
}


.ICONS img:hover{
    transition-duration: .3s;
    transform: translateY(-5px);
}

.FB-pic{
    position: relative;
    display: inline-block;
    margin-right: 48px;
}

.FB-pic .Facebook{
    visibility: hidden;
    position: absolute;
    background-color: #272727;
    color: white;
    bottom: 62px;
    right: -20px;
    transition: all 0.3s ease-in-out;
}

.Facebook::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    position: absolute;
    top: 16px;
    right: 30px;
    border-color:  #272727;
    rotate: 40deg;
    z-index: -1;
}

.Facebook{
    padding: 6px;
    font-size: 12px;
    border-radius: 15px;    
}


.FB-pic:hover .Facebook{
    transform: translateY(-1px);
    visibility: visible;
    transition: .3s linear;
}


.Insta-pic{
    position: relative;
    display: inline-block;
    margin-right: 48px;
}


.Insta-pic .Instagram{
    visibility: hidden;
    position: absolute;
    background-color: #272727;
    color: white;
    bottom: 62px;
    right: -20px;
}

.Instagram{
    padding: 6px;
    font-size: 12px;
    border-radius: 15px;
    transform: translateY(1px);
    transition: all 0.3s ease-in-out;
}

.Instagram::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    position: absolute;
    top: 16px;
    right: 30px;
    border-color:  #272727;
    rotate: 40deg;
    z-index: -1;
}


.Insta-pic:hover .Instagram{
    transition: .3s linear;
    transform: translateY(1px);
    visibility: visible;
}

.Twit-pic{
    position: relative;
    display: inline-block;
    margin-right: 48px;
}


.Twit-pic .Twitter{
    visibility: hidden;
    position: absolute;
    background-color: #272727;
    color: white;
    bottom: 62px;
    right: -5px;
}

.Twitter{
    padding: 6px;
    font-size: 12px;
    border-radius: 15px;
    transform: translateY(1px);
    transition: all 0.3s ease-in-out;
}

.Twitter::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    position: absolute;
    top: 16px;
    right: 19px;
    border-color:  #272727;
    rotate: 40deg;
    z-index: -1;
}


.Twit-pic:hover .Twitter{
    transition: .3s linear;
    transform: translateY(1px);
    visibility: visible;
}



.FACE{
    display: flex;
    position: relative;
    bottom: 85px;
    left: 130px;
}

.FACE img{
    width: 45%;
}

#KEN1{
    position: relative;
    bottom: 30px;
    transition: 0.4s;
    animation: ken1 1s forwards infinite alternate;
}

@keyframes ken1 {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(-10px);
    }
}

#KEN2{
    position: relative;
    top: 30px;
    transition: 0.4s;
    animation: ken2 1s forwards infinite alternate
}

@keyframes ken2 {
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
}

.FACE img:hover{
    transition: 0.4s;
    transform: translateY(-30px);
}

.About-Container{
    display: flex;
    padding-top: 100px;
    margin-bottom: 120px;
    justify-content: center;
    margin-right: 20px;
}

.Keanu{
    transition: 0.4s ease;
    animation: open 2s ease forwards infinite alternate;
}

.About-Me{
    margin-left: 100px;

    h2{
        font-size: 30px;
        margin-bottom: 30px;
        text-decoration: underline;
        text-underline-offset: 15px;
        text-decoration-color: #02BC9B;
    }

    h3{
        margin-bottom: 20px;
    }

    span{
        color: #02BC9B;
    }

    p{
        width: 500px;
        text-align: justify;
        margin-bottom: 40px;
    }

}



.Contact{
    color: #FFFFFF;
    padding: 12px;
    background: #02BC9B;
    font-size: 18px;
    border-radius: 30px;
    width: 120px;
    border: 2px solid;
    border-color: #02BC9B;
    transition: 0.3s ease;
}

.Contact:hover{
    background-color: transparent;
    transform: translateY(-2px);
    transition: 0.3s ease;
}


.About-Pic{
   
    img{
        width: 400px;
    }
}


.Card-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}




.Card1{
    width: 280px;
    background-color: #151515;
    padding: 25px;
    border-radius: 35px;
    margin-right: 30px;
    transition: 0.5s ease;

    h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p{
        font-weight: lighter;
        font-size: 14px;
    }
}

.Card2{
    width: 280px;
    background-color: #151515;
    padding: 25px;
    border-radius: 35px;
    margin-right: 30px;
    transition: 0.5s ease;
    h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p{
        font-weight: lighter;
        font-size: 14px;
    }
}

.Card3{
    width: 290px;
    background-color: #151515;
    padding: 25px;
    border-radius: 35px;
    margin-right: 30px;
    transition: 0.5s ease;

    h3{
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p{
        font-weight: lighter;
        font-size: 14px;
    }
}


.Card1:hover{
    transform: translateY(-5px);
    background-color: #02BC9B;
    transition: 0.5s ease;
}

.Card2:hover{
    transform: translateY(-4px);
    background-color: #02BC9B;
    transition: 0.5s ease;
}


.Card3:hover{
    transform: translateY(-4px);
    background-color: #02BC9B;
    transition: 0.5s ease;
}





.port-title{
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    padding: 5%;
    margin-left: 50px;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #02BC9B ;
}

.port-container{
    justify-content: center;
    display: flex;
    padding-bottom: 140px;
    p{
        width: 400px;
        text-align: justify;
        font-size: 15px;
    }
}

.port-pic-container{
    width: 500px;
    margin-right: 30px;
}

.pic-container2{
    display: flex;

    .site1{
        height: 150px;
    }

    img{
        transition: 0.3s ease;
    }

    img:hover{
        transform: scale(1.1);
        transition: 0.3s ease;
    }
}

.pic-container1{

    img{
        transition: 0.3s ease;
    }

    img:hover{
        transform: scale(1.1);
        transition: 0.3s ease;
    }
}


.port-web{
    display: flex;
    font-size: 15px;
    letter-spacing: 2px;
    img{
        width: 50px;
    }

    h2{
        margin-top: 7px;
        padding-left: 20px;
    }

    span{
        color: #02BC9B;
    }
}



.port-info{
    margin-top: 120px;

    h2,span{
        font-size: 25px;
    }
}

.port-photo{
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    letter-spacing: 2px;

    img{
        width: 50px;
    }
    
    h2{
        margin-top: 7px;
        padding-left: 20px;
    }

    span{
        color: #02BC9B;
    }
}

.port-btn{
    margin-top: 40px;

    a{
        padding: 12px;
        background-color: #02BC9B;
        color: white;
        border-radius: 30px;
        transition-duration: 0.4s;
        border: 2px solid;
        border-color: #02BC9B;
        padding-left: 30px;
        padding-right: 30px;
    }

    a:hover{
        background-color: transparent;
    }
}


#contact{
    background-image: url(./ASSETS/3-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2px;
    padding-top: 50px;
    padding-bottom: 80px;
}


.Contact-Container{
    display: flex;
    margin-top: 205px;
    padding-bottom: 70px;
    margin-left: 200px;
}


form input, form textarea{
    width: 60%;
    border: 0;
    outline: none;
    background-color: #272727;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 6px;
}


.sub-btn{
    width: 412px;
    padding: 10px;
    background-color: #02BC9B;
    color: white;
    border-radius: 20px;
    font-size: 17px;
    position: relative;
    cursor: pointer;
    border: 2px solid;
    border-color: #02BC9B;
    transition: 0.5s ease;
}

.sub-btn:hover{
    transform: translateY(-2px);
    background-color: transparent;
    transition: 0.5s ease;

}


.Contact-Me-Container{
    position: relative;
    right: 100px;
    margin-top: 18px;
    margin-right: 100px;
}

.Contact-Me{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    span{
        color: #02BC9B;
    }
    margin-bottom: 50px;
}

.Call{
    display: flex;

    h3{
        padding: 11px;
        letter-spacing: 1.4px;
    }
}

.Loc{
    margin-top: 20px;
    display: flex;
    width: 320px;

    h3{
        padding-top: 12px;
        letter-spacing: 1.4px;
        padding-left: 14px;
    }
}


.Email{
    margin-top: 20px;
    display: flex;

    h3{
        padding-top: 12px;
        letter-spacing: 1.4px;
        padding-left: 14px;
    }
}


@media only screen and (min-width: 1440px) {

    #home{
        margin-left: 60px;
        margin-bottom: 100px;
        padding-bottom: 60px;
    }

    #about{
        margin-bottom: 100px;
    }

    #contact{
        padding-top: 60px;
        padding-bottom: 80px;
    }

 .FACE{
    margin-left: 100px;
 }

 nav a img{
    padding-left: 60px;
 }

 .sub-btn{
    width: 510px;
 }

 .Contact-Me-Container{
    position: relative;
    right: 100px;
    margin-top: 18px;
    margin-right: 100px;
}
    
}


@media only screen and(max-width: 600px){

    .splash{
        display: none;
    }

    body{
        align-items: center;
        justify-content: center;
    }

    nav ul{
        display: none;
    }

    nav a img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        padding-left: 14px;
    }


    .ICONS{
        display: none;
    }

    .FACE{
        display: none;
    }

    
    .Main-info{
        width: 220px;
        padding-right:  20px;

        h3{     
            font-size: 14px;
        }

        h2{
            font-size: 25px;
        }
    }

    .About-Pic{
        display: none;
    }

    .About-Me{
        margin-right: 30px;
        h2{
            font-size: 20px;
        }

        h3{
            width: 300px;
            font-size: 14px;
        }

        p{
            width: 220px;
            font-size: 12px;
        }
    }


    .Card-Container{
        display: block;
        text-align: center;
        margin-left: 50px;
        margin-bottom: 0px;
        padding-bottom: 100px;
    }

    .Card1{
        margin-top: 10px;
    }
    .Card2{
        margin-top: 10px;
    }
    .Card3{
        margin-top: 10px;
        margin-left: -3px;
    }

    .port-container{
        margin-top: -70px;
    }

    .port-title{
        padding-right: 80px;
        font-size: 15px;
        padding-bottom: 0;
    }

    .port-pic-container{
        display: none;

    }

    .port-info div img{
        display: none;
    }


    .port-web{

        h2{
            text-align: center;
            font-size: 20px;
        }

        span{
            text-align: center;
            font-size: 20px;
        }
    }

    .port-info p{
        width: 220px;
        font-size: 12px;
    }

    .port-photo{
        h2{
            text-align: center;
            font-size: 20px;
        }
        
        span{
            text-align: center;
            font-size: 20px;
        }
        
    }


    .port-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contact-email-container{
        display: none;
    }

    .Contact-Me-Container{
        position: relative;
        bottom: 200px;
        margin-left: 20px;
        margin-bottom: -200px;
    }

    .Contact-Me{
        font-size: 20px;
    }

    .Call{
        display: block;
        margin-left: 5px ;

        h3{
            font-size: 15px;
        }

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 40px;
        }
    }

    .Loc{
        display: block;


        h3{
            position: relative;
            font-size: 15px;
            padding-right: 160px;
            left: 5px;
        }

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 40px;
        }
    }

    .Email{
        display: block;


        h3{
            position: relative;
            font-size: 15px;
            padding-right: 190px;
            right: 65px;
        }

        img{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 40px;
            margin-top: 40px;
        }
    }

}
